<% if flash[:notice] %>
  <div class="callout callout-info">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<% if flash[:warning] %>
  <div class="callout callout-danger">
    <p><%= flash[:warning] %></p>
  </div>
<% end %>

<% @url = criterions_url %>
<% @aksi = "Ubah" %>
<% @objek = "Kriteria" %>
<%= notice %>
<%= render 'form' %>
