<% @aksi = "Tentang" %>
<% @objek = "Aplikasi" %>

<div class="row">
    <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-text-width"></i>

              <h3 class="box-title">Anggota Kelompok</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <p>Aplikasi ini dekmbangkan dari nol oleh Mahasiswa <b>Jurusan Sistem Informasi Fakultas Teknologi Informasi Universitas Andalas</b> untuk memenuhi tugas matakuliah Sistem dan Teknik Pendukung Keputusan, dengan anggota :</p>
              <b>1. Muhammad Fauzi (1411522014)</b><br>
              <b>2. Fadhli Arif Deliyus (1411522019)</b><br>
              <b>3. Zera Olviana (1411521027)</b><br>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    
        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-text-width"></i>

              <h3 class="box-title">Info Aplikasi</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <p>Aplikasi Sistem Pendukung Keputusan ini dibuat dengan metode Analytic Hierarchy Process (AHP), selanjutnya dikembangkan dengan bahasa Ruby dengan Framework Ruby on Rails dan interface menggunakan template dasar AdminLTE.</p>
              <p>Hak cipta sejatinya hanya milik Allah SWT, siapa saja boleh mengembangkan aplikasi ini menjadi aplikasi yang lebih baik.</p>
              <p>Kontribusi di <a href='https://github.com/fauzipadlaw/spk-ahp' target='_blank'>Github</a>.</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</div>